.container{
    height: 700px;
    border: 1px solid red;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    
}
.box{
    
    border: 1px solid blue;
    background-color: aqua;
   
    
}
#box1{
    grid-area: 1/1/3/4;
}